body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
flex-direction: column;
    }
    header {
    background-color: #4a4a6a;
    color: white;
    text-align: center;
    padding: 1rem;
    }
    h2 {
    color: #0566dc;
    text-align: center;
    }
    nav {
    background-color: #6a6a8a;
    padding: 1rem;
    display: flex;
    width: 450px;
flex-direction: column;
    }
    .saturs {
        padding: 20px;
        background-color: #f4f4f4;
    }
    .produkti {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .produkts {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    width: 30%;
    text-align: center;
    }
    .lapa {
        display: flex;
    }
    img {
    max-width: 100%;
    height: 200px;
    }
    footer {
    background-color: #4a4a6a;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    } 
    nav {
        background-color: #6a6a8a;
        padding: 1rem;
        display: flex;
        justify-content: center;
        }
        nav a {
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        }
        nav a:background-color {
        background-color: #8a8aaa;
        } 